{% extends "base_generic.html" %}
{% block content %}
<div class="container">
  {% if directors %}
  <table style="width:15%; padding:30px; text-align:center;" class="table table-light table-hover table-bordered"
    align="center">
    <tr>
      <th>Movie Name</th>
    </tr>
    {% for director in directors %}
    <tr>
      <td><a href="{% url 'director-detail' director.pk %}" class="btn btn-dark btn-sm">{{director}}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>There are no Directors.</p>
  {% endif %}
</div>
{% endblock %}