{% extends "base_generic.html" %}
{% block content %}
<div class="container p-3">
  {% if movies %}
  <table style="width:15%; padding:30px; text-align:center;" class="table table-light table-hover table-bordered"
    align="center">
    <tr>
      <th>Movie Name</th>
    </tr>
    {% for movie in movies %}
    <tr>
      <td><a href="{% url 'movie-detail' movie.slug %}" class="btn btn-dark btn-sm">{{movie}}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>There are no Movies.</p>
  {% endif %}
</div>
{% endblock %}